<% if user_signed_in? %>
  <div class="col-12 border border-secondary rounded">
    <article class="media p-2">
      <div class="align-self-start">
        <figure class="figure">
          <%= image_tag current_user.user_image, class: "mr-3 figure-img img-fluid rounded-circle" %>
        </figure>
      </div>
      <div class="media-body">
        <div class=" container mt-0">
          <%= render 'form', tweet: @tweet %>
        </div>
      </div>
    </article>
  </div>
<% end %>

<% @tweets.each do |tweet| %>
  <div class="col-12 border border-secondary rounded my-2">
    <article class="media p-2">
      <div class="align-self-start">
        <figure class="figure">
          <%= image_tag tweet.image, class: "mr-3 figure-img img-fluid rounded-circle" %>
        </figure>
      </div>
      <div class="media-body">
        <strong class="mt-0"><%= tweet.name %></strong>
        <br>
        <small><%= tweet.mail %></small>
        <p><%= tweet.content %></p>
        <small><%= link_to tweet.created_at, tweet, class: "text-decoration-none text-reset" %></small>
          <% if user_signed_in? && (tweet.user_id == current_user.id) %>
            <div class="icon-link text-right inline-block">
              <ul class="list-group list-group-horizontal list-unstyled list-inline">
                <li class="list-group-item list-inline-item">
                  <span class="icon"><i class="<%= current_user.liked?(tweet.id) ? 'fas' : 'far' %> fa-heart "></i></span>
                  <div class="inline-block"><%= tweet.total_favs %></div>
                </li>
                <li class="list-group-item list-inline-item">
                  <span class="icon"></span>
                </li>
                <li class="list-group-item list-inline-item">
                  <%= link_to tweet, method: :delete, data: { confirm: 'Are you sure you want to delete this tweet?'} do %>
                    <span class="icon"><i class="fas fa-trash-alt"></i></span>
                  <% end %>
                </li>
              </ul>
            </div>
          <%end%>
      </div>
    </article>
  </div>
<% end %>

