<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-4 mx-auto p-2">
        <%= search_form_for @q do |f| %>
          <div class="form-group">
            <%= f.label :content_cont, 'Tweet Content', class: 'h4 font-weight-bold'  %>
            <%= f.search_field :content_cont, class: 'form-control', placeholder: 'Search Content' %>
          </div>
          <%= f.submit 'Search', class: 'btn btn-info' %>
        <% end %>
      </div>
    <div class="row">
      <% if user_signed_in? %>
        <div class="col-4">
          <%= render 'profile' %>
          <br>
          <%= render 'whoToFollow' %>
        </div>
      <% end %>
      <div class="col-8 mx-auto">
        <%= render 'feed' %>
      </div>
    </div>
  </div>  
</section>

<div class="container text-right">
  <button class="btn btn-info"><%= link_to_next_page @tweets, 'More Tweets', class: "text-decoration-none text-reset" %></button>
</div>

